@import url(https://fonts.google.com/specimen/Outfit);

*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
}
body{
          font-family: 'Outfit', sans-serif;
          font-size: 1rem;
          background-color:#7b879d ;
        width: 100vw;
        height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
        
     
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  width: 30vw;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
border-radius: 1rem;
}
h1{
  font-size: 1.5rem;
  padding: 0.5rem;
}
.text{
  font-size: 1rem;
  padding: 0.5rem;
  color: #c0c0c0;
}
.container img{
  border-radius: 1rem;
  width: 100%;
}

@media (max-width: 480px) {
  .container{
    width: 50vw;
  }
  .container img{
    width: 100%;
  }
  h1{
    font-size: 0.8rem;
  }
  .text{
    font-size: 0.7rem;
  }
}
@media (max-width: 960px) {
  .container{
    width: 40vw;
    
  }
  .container img{
    width: 100%;
  }
  h1{
    font-size: 1rem;
    padding: 2rem;
  }
  .text{
    font-size: 1rem;
    padding: 0.5rem;
  }
}